body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

canvas {
    border: 1px solid #000;
    margin-top: 20px;
}

h1{
    margin-top: 20px;
    color: black;
}